# editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
end_of_line = lf
indent_size = 4
charset = utf-8

# Two spaces at EOL inserts <br>
[*.md]
trim_trailing_whitespace = false

[*.py]
indent_size = 4
